In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
from sqlalchemy import create_engine, MetaData, Table, Integer, String, \
    Column, DateTime, ForeignKey, Numeric, SmallInteger, CheckConstraint

from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

from datetime import datetime

engine = create_engine("postgres+psycopg2://postgres:pass@localhost/sqlalchemy_tuts")

Base = declarative_base()

class Customer(Base):
    __tablename__ = 'customers'
    id = Column(Integer(), primary_key=True)
    first_name = Column(String(100), nullable=False)
    last_name = Column(String(100), nullable=False)
    username = Column(String(50), nullable=False)
    email = Column(String(200), nullable=False)
    address = Column(String(200), nullable=False)
    town = Column(String(50), nullable=False)
    created_on = Column(DateTime(), default=datetime.now)
    updated_on = Column(DateTime(), default=datetime.now, onupdate=datetime.now)
    orders = relationship("Order", backref='customer')
    
    def __repr__(self):
        return "<Customer:{0}-{1}>".format(self.id, self.username)


class Item(Base):
    __tablename__ = 'items'
    id = Column(Integer(), primary_key=True)
    name = Column(String(200), nullable=False)
    cost_price =  Column(Numeric(10, 2), nullable=False)
    selling_price = Column(Numeric(10, 2), nullable=False)
    quantity = Column(SmallInteger(), nullable=False)
#     orders = relationship("Order", backref='customer')

    def __repr__(self):
        return "<Item:{0}-{1}>".format(self.id, self.name)    
    
    __table_args__ = (
        CheckConstraint('quantity > 0', name='quantity_check'),
    )
    

class Order(Base):
    __tablename__ = 'orders'
    id = Column(Integer(), primary_key=True)
    customer_id = Column(Integer(), ForeignKey('customers.id'))
    date_placed = Column(DateTime(), default=datetime.now, nullable=False)
    date_shipped = Column(DateTime())
#     items = relationship("OrderLine")
    
    def __repr__(self):
        return "<Order:{0}>".format(self.id)
    

class OrderLine(Base):
    __tablename__ = 'order_lines'
    id =  Column(Integer(), primary_key=True)
    order_id = Column(Integer(), ForeignKey('orders.id'))
    item_id = Column(Integer(), ForeignKey('items.id'))
    quantity = Column(SmallInteger())
    order = relationship("Order", backref='order_lines')
    item = relationship("Item")
    
    def __repr__(self):
        return "<OrderLine:{0}>".format(self.id)    


Base.metadata.create_all(engine)

/home/pp/tuts/sqlalchemy/env/lib/python3.5/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [3]:
# Base.metadata.drop_all(engine)

## Creating Session

In [4]:
from sqlalchemy.orm import sessionmaker, Session
Session = sessionmaker(bind=engine)
session = Session()

## Inserting Data

In [5]:
c1 = Customer(first_name = 'John', 
              last_name = 'Green', 
              username = 'johngreen', 
              email = 'johngreen@mail.com', 
              address = '164 Hidden Valley Road',
              town = 'Norfolk'
             )

c2 = Customer(    
            first_name = 'Katherine',
            last_name = 'Wilson',
            username = 'katwilson',
            email = 'katwilson@gmail.com',
            address = '4685 West Side Avenue',
            town = 'Peterbrugh'    
             )

c1, c2

(<Customer:None-johngreen>, <Customer:None-katwilson>)

In [6]:
c1.first_name, c1.last_name
c2.first_name, c2.last_name

('John', 'Green')

('Katherine', 'Wilson')

In [7]:
session.add(c1)
session.add(c2)

In [8]:
c1.id, c2.id

(None, None)

In [9]:
session.add_all([c1, c2])

In [10]:
session.new

IdentitySet([<Customer:None-johngreen>, <Customer:None-katwilson>])

In [11]:
session.commit()

In [12]:
c1.id, c2.id

(1, 2)

In [13]:
c1.orders, c2.orders

([], [])

In [14]:
c3 = Customer(
            first_name = "John", 
            last_name = "Lara", 
            username = "johnlara", 
            email = "johnlara@mail.com", 
            address = "3073 Derek Drive",
            town = "Norfolk"
)

c4 = Customer(          
            first_name = "Sarah", 
            last_name = "Tomlin", 
            username = "sarahtomlin", 
            email = "sarahtomlin@mail.com",
            address = "3572 Poplar Avenue",
            town = "Norfolk"        
)

c5 = Customer(first_name = 'Toby', 
              last_name = 'Miller', 
              username = 'tmiller', 
              email = 'tmiller@example.com', 
              address = '1662 Kinney Street',
              town = 'Wolfden'
             )

c6 = Customer(first_name = 'Scott', 
              last_name = 'Harvey', 
              username = 'scottharvey', 
              email = 'scottharvey@example.com', 
              address = '424 Patterson Street',
              town = 'Beckinsdale'
             )

session.add_all([c3, c4, c5, c6])
session.commit()

In [15]:
i1 = Item(name = 'Chair', cost_price = 9.21, selling_price = 10.81, quantity = 5)
i2 = Item(name = 'Pen', cost_price = 3.45, selling_price = 4.51, quantity = 3)
i3 = Item(name = 'Headphone', cost_price = 15.52, selling_price = 16.81, quantity = 50)
i4 = Item(name = 'Travel Bag', cost_price = 20.1, selling_price = 24.21, quantity = 50)
i5 = Item(name = 'Keyboard', cost_price = 20.1, selling_price = 22.11, quantity = 50)
i6 = Item(name = 'Monitor', cost_price = 200.14, selling_price = 212.89, quantity = 50)
i7 = Item(name = 'Watch', cost_price = 100.58, selling_price = 104.41, quantity = 50)
i8 = Item(name = 'Water Bottle', cost_price = 20.89, selling_price = 25, quantity = 50)

session.add_all([i1, i2, i3, i4, i5, i6, i7, i8])
session.commit()

In [16]:
o1 = Order(customer = c1)
o2 = Order(customer = c1)

order_line1 = OrderLine(order = o1, item = i1, quantity =  3)
order_line2 = OrderLine(order = o1, item = i2, quantity =  2)
order_line3 = OrderLine(order = o2, item = i1, quantity =  1)
order_line4 = OrderLine(order = o2, item = i2, quantity =  4)

session.add_all([o1, o2])

session.new
session.commit()

IdentitySet([<OrderLine:None>, <OrderLine:None>, <Order:None>, <OrderLine:None>, <OrderLine:None>, <Order:None>])

In [17]:
o3 = Order(customer = c1)

orderline1 = OrderLine(item = i1, quantity = 5)
orderline2 = OrderLine(item = i2, quantity = 10)

o3.order_lines.append(orderline1)
o3.order_lines.append(orderline2)

session.add_all([o3])

session.commit()

In [18]:
c1.orders

In [19]:
o1.customer

In [20]:
c1.orders[0].order_lines, c1.orders[1].order_lines

([<OrderLine:1>, <OrderLine:2>], [<OrderLine:3>, <OrderLine:4>])

In [21]:
for ol in c1.orders[0].order_lines:
    ol.id, ol.item, ol.quantity
    
print('-------')
    
for ol in c1.orders[1].order_lines:
    ol.id, ol.item, ol.quantity

(1, <Item:1-Chair>, 3)

(2, <Item:2-Pen>, 2)

-------

(3, <Item:1-Chair>, 1)

(4, <Item:2-Pen>, 4)

## Querying Data

### all() method

In [22]:
session.query(Customer).all()

[<Customer:1-johngreen>,
 <Customer:2-katwilson>,
 <Customer:3-johnlara>,
 <Customer:4-sarahtomlin>,
 <Customer:5-tmiller>,
 <Customer:6-scottharvey>]

In [23]:
session.query(Item).all()
session.query(Order).all()

[<Item:1-Chair>,
 <Item:2-Pen>,
 <Item:3-Headphone>,
 <Item:4-Travel Bag>,
 <Item:5-Keyboard>,
 <Item:6-Monitor>,
 <Item:7-Watch>,
 <Item:8-Water Bottle>]

In [24]:
print(session.query(Customer))

SELECT customers.id AS customers_id, customers.first_name AS customers_first_name, customers.last_name AS customers_last_name, customers.username AS customers_username, customers.email AS customers_email, customers.address AS customers_address, customers.town AS customers_town, customers.created_on AS customers_created_on, customers.updated_on AS customers_updated_on
FROM customers

In [25]:
q = session.query(Customer)

for c in q:
    print(c.id, c.first_name)

1 John
2 Katherine
3 John
4 Sarah
5 Toby
6 Scott

In [26]:
session.query(Customer.id, Customer.first_name).all()

[(1, 'John'),
 (2, 'Katherine'),
 (3, 'John'),
 (4, 'Sarah'),
 (5, 'Toby'),
 (6, 'Scott')]

### count() method

In [27]:
session.query(Customer).count() # get the total number of records in the customers table
session.query(Item).count()  # get the total number of records in the items table
session.query(Order).count()  # get the total number of records in the orders table

6

8

3

### first() method

In [28]:
session.query(Customer).first()
session.query(Item).first()
session.query(Order).first()

### get() method

In [29]:
session.query(Customer).get(1)
session.query(Item).get(1)
session.query(Order).get(100)

### filter() method

In [30]:
session.query(Customer).filter(Customer.first_name == 'John').all()

In [31]:
print(session.query(Customer).filter(Customer.first_name == 'John'))

SELECT customers.id AS customers_id, customers.first_name AS customers_first_name, customers.last_name AS customers_last_name, customers.username AS customers_username, customers.email AS customers_email, customers.address AS customers_address, customers.town AS customers_town, customers.created_on AS customers_created_on, customers.updated_on AS customers_updated_on
FROM customers
WHERE customers.first_name = %(first_name_1)s

In [32]:
session.query(Customer).filter(Customer.id <= 5, Customer.town == "Norfolk").all()

In [33]:
print(session.query(Customer).filter(Customer.id <= 5, Customer.town.like("Nor%")))

SELECT customers.id AS customers_id, customers.first_name AS customers_first_name, customers.last_name AS customers_last_name, customers.username AS customers_username, customers.email AS customers_email, customers.address AS customers_address, customers.town AS customers_town, customers.created_on AS customers_created_on, customers.updated_on AS customers_updated_on
FROM customers
WHERE customers.id <= %(id_1)s AND customers.town LIKE %(town_1)s

In [34]:
from sqlalchemy import or_, and_, not_

# find all customers who either live in Peterbrugh or Norfolk

session.query(Customer).filter(or_(
    Customer.town == 'Peterbrugh', 
    Customer.town == 'Norfolk'
)).all()


# find all customers whose first name is John and live in Norfolk

session.query(Customer).filter(and_(
    Customer.first_name == 'John', 
    Customer.town == 'Norfolk'
)).all()


# find all johns who don't live in Peterbrugh

session.query(Customer).filter(and_(
    Customer.first_name == 'John', 
    not_(
        Customer.town == 'Peterbrugh', 
    )
)).all()

[<Customer:1-johngreen>,
 <Customer:2-katwilson>,
 <Customer:3-johnlara>,
 <Customer:4-sarahtomlin>]

### IS NULL

In [35]:
session.query(Order).filter(Order.date_shipped == None).all()

### IS NOT NULL

In [36]:
session.query(Order).filter(Order.date_shipped != None).all()

[]

### IN

In [37]:
session.query(Customer).filter(Customer.first_name.in_(['Toby', 'Sarah'])).all()

### NOT IN

In [38]:
session.query(Customer).filter(Customer.first_name.notin_(['Toby', 'Sarah'])).all()

[<Customer:1-johngreen>,
 <Customer:2-katwilson>,
 <Customer:3-johnlara>,
 <Customer:6-scottharvey>]

### BETWEEN

In [39]:
session.query(Item).filter(Item.cost_price.between(10, 50)).all()

[<Item:3-Headphone>,
 <Item:4-Travel Bag>,
 <Item:5-Keyboard>,
 <Item:8-Water Bottle>]

### NOT BETWEEN

In [41]:
session.query(Item).filter(not_(Item.cost_price.between(10, 50))).all()

### LIKE

In [44]:
session.query(Item).filter(Item.name.like("%r")).all()

In [48]:
session.query(Item).filter(Item.name.ilike("w%")).all()

### NOT LIKE

In [49]:
session.query(Item).filter(not_(Item.name.like("W%"))).all()

[<Item:1-Chair>,
 <Item:2-Pen>,
 <Item:3-Headphone>,
 <Item:4-Travel Bag>,
 <Item:5-Keyboard>,
 <Item:6-Monitor>]

## limit() method

In [52]:
session.query(Customer).limit(2).all()
session.query(Customer).filter(Customer.address.ilike("%avenue")).limit(2).all()

In [53]:
print(session.query(Customer).limit(2))
print(session.query(Customer).filter(Customer.address.ilike("%avenue")).limit(2))

SELECT customers.id AS customers_id, customers.first_name AS customers_first_name, customers.last_name AS customers_last_name, customers.username AS customers_username, customers.email AS customers_email, customers.address AS customers_address, customers.town AS customers_town, customers.created_on AS customers_created_on, customers.updated_on AS customers_updated_on
FROM customers
 LIMIT %(param_1)s
SELECT customers.id AS customers_id, customers.first_name AS customers_first_name, customers.last_name AS customers_last_name, customers.username AS customers_username, customers.email AS customers_email, customers.address AS customers_address, customers.town AS customers_town, customers.created_on AS customers_created_on, customers.updated_on AS customers_updated_on
FROM customers
WHERE customers.address ILIKE %(address_1)s
 LIMIT %(param_1)s

### offset() method

In [54]:
session.query(Customer).limit(2).offset(2).all()

In [58]:
print(session.query(Customer).limit(2).offset(2))

SELECT customers.id AS customers_id, customers.first_name AS customers_first_name, customers.last_name AS customers_last_name, customers.username AS customers_username, customers.email AS customers_email, customers.address AS customers_address, customers.town AS customers_town, customers.created_on AS customers_created_on, customers.updated_on AS customers_updated_on
FROM customers
 LIMIT %(param_1)s OFFSET %(param_2)s

### order_by() method

In [61]:
session.query(Item).filter(Item.name.ilike("wa%")).all()
session.query(Item).filter(Item.name.ilike("wa%")).order_by(Item.cost_price).all()

In [63]:
from sqlalchemy import desc
session.query(Item).filter(Item.name.ilike("wa%")).order_by(desc(Item.cost_price)).all()

### join() method

In [64]:
session.query(Customer).join(Order).all()

In [66]:
print(session.query(Customer).join(Order))

SELECT customers.id AS customers_id, customers.first_name AS customers_first_name, customers.last_name AS customers_last_name, customers.username AS customers_username, customers.email AS customers_email, customers.address AS customers_address, customers.town AS customers_town, customers.created_on AS customers_created_on, customers.updated_on AS customers_updated_on
FROM customers JOIN orders ON customers.id = orders.customer_id

In [69]:
session.query(Customer.id, Customer.username, Order.id).join(Order).all()

[(1, 'johngreen', 1), (1, 'johngreen', 2), (1, 'johngreen', 3)]

In [76]:
session.query(
    Customer.first_name, 
    Item.name, 
    Item.selling_price, 
    OrderLine.quantity
).join(Order).join(OrderLine).join(Item).filter(
    Customer.first_name == 'John',
    Customer.last_name == 'Green',
    Order.id == 1,
).all()

[('John', 'Chair', Decimal('10.81'), 3), ('John', 'Pen', Decimal('4.51'), 2)]

### outerjoin() method

In [77]:
session.query(        
    Customer.first_name,
    Order.id,
).outerjoin(Order).all()

[('John', 1),
 ('John', 2),
 ('John', 3),
 ('Katherine', None),
 ('Toby', None),
 ('Scott', None),
 ('Sarah', None),
 ('John', None)]

In [78]:
session.query(        
    Customer.first_name,
    Order.id,
).outerjoin(Order, full=True).all()

[('John', 1),
 ('John', 2),
 ('John', 3),
 ('Katherine', None),
 ('Toby', None),
 ('Scott', None),
 ('Sarah', None),
 ('John', None)]

### group_by() method

In [80]:
from sqlalchemy import func

session.query(func.count(Customer.id)).join(Order).filter(
    Customer.first_name == 'John',
    Customer.last_name == 'Green',    
).group_by(Customer.id).scalar()

3

### having() method

In [83]:
# find the number of customers lives in each town

session.query(
    func.count("*").label('town_count'),    
    Customer.town
).group_by(Customer.town).having(func.count("*") > 2).all()

[(3, 'Norfolk')]

## Dealing with Duplicates

In [85]:
from sqlalchemy import distinct

session.query(Customer.town).filter(Customer.id  < 10).all()
session.query(Customer.town).filter(Customer.id  < 10).distinct().all()

session.query(        
    func.count(distinct(Customer.town)),
    func.count(Customer.town)
).all()

[('Norfolk'),
 ('Peterbrugh'),
 ('Norfolk'),
 ('Norfolk'),
 ('Wolfden'),
 ('Beckinsdale')]

[('Peterbrugh'), ('Beckinsdale'), ('Wolfden'), ('Norfolk')]

[(4, 6)]

## Casting

In [87]:
from sqlalchemy import cast, Date, union

session.query(
    cast(func.pi(), Integer),
    cast(func.pi(), Numeric(10,2)),
    cast("2010-12-01", DateTime),
    cast("2010-12-01", Date),
).all()

[(3,
  Decimal('3.14'),
  datetime.datetime(2010, 12, 1, 0, 0),
  datetime.date(2010, 12, 1))]

## Unions

In [88]:
s1 = session.query(Item.id, Item.name).filter(Item.name.like("Wa%"))
s2 = session.query(Item.id, Item.name).filter(Item.name.like("%e%"))
s1.union(s2).all()

[(2, 'Pen'),
 (4, 'Travel Bag'),
 (3, 'Headphone'),
 (5, 'Keyboard'),
 (7, 'Watch'),
 (8, 'Water Bottle')]

In [89]:
s1.union_all(s2).all()

[(7, 'Watch'),
 (8, 'Water Bottle'),
 (2, 'Pen'),
 (3, 'Headphone'),
 (4, 'Travel Bag'),
 (5, 'Keyboard'),
 (8, 'Water Bottle')]

## Updating Data

In [90]:
i = session.query(Item).get(8)
i.selling_price = 25.91
session.add(i)
session.commit()

In [91]:
session.query(Item).filter(
    Item.name.ilike("W%")
).update({"quantity": 60}, synchronize_session='fetch')
session.commit()

2

## Deleting Data

In [94]:
i = session.query(Item).filter(Item.name == 'Monitor').one()
i
session.delete(i)
session.commit()

In [95]:
session.query(Item).filter(
    Item.name.ilike("W%")
).delete(synchronize_session='fetch')
session.commit()

2

## Raw Queries

In [98]:
from sqlalchemy import text

session.query(Customer).filter(text("first_name = 'John'")).all()

session.query(Customer).filter(text("town like 'Nor%'")).all()

session.query(Customer).filter(text("town like 'Nor%'")).order_by(text("first_name, id desc")).all()

## Transactions

In [99]:
from sqlalchemy import update
from sqlalchemy.exc import IntegrityError
from datetime import datetime


def dispatch_order(order_id):

    # check whether order_id is valid or not
    order = session.query(Order).get(order_id)
    
    if not order:
        raise ValueError("Invalid order id: {}.".format(order_id))    
        
    if order.date_shipped:
        print("Order already shipped.")
        return

    try:
        for i in order.order_lines:
            i.item.quantity = i.item.quantity - i.quantity            
        
        order.date_shipped = datetime.now()                            
        session.commit()
        print("Transaction completed.")

    except IntegrityError as e:
        print(e)
        print("Rolling back ...")
        session.rollback()
        print("Transaction failed.")

In [100]:
dispatch_order(1)

Transaction completed.

In [101]:
dispatch_order(2)

(psycopg2.IntegrityError) new row for relation "items" violates check constraint "quantity_check"
DETAIL:  Failing row contains (2, Pen, 3.45, 4.51, -3).
 [SQL: 'UPDATE items SET quantity=%(quantity)s WHERE items.id = %(items_id)s'] [parameters: ({'quantity': 1, 'items_id': 1}, {'quantity': -3, 'items_id': 2})] (Background on this error at: http://sqlalche.me/e/gkpj)
Rolling back ...
Transaction failed.